---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% if post.title != ("2018-1-4-exp_app.md" or "2018-1-4-exp_speaker.md" or "2018-1-4-exp_vr.md" or "2018-1-4-exp_watch.md") %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {{ post.excerpt }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %} 
</div>
